body {
margin-top: 40px;
}

.navbar {
  margin: 0;
  border-radius: 0px;
  background-color: #F9BF3B;
}

.navbar .navbar-nav .nav-link, .navbar-brand {
  font-family: 'Lato';
  text-transform: uppercase;
  font-weight: 900;
  font-size: 18px;
  letter-spacing: 2px;
  color: white;
}

a {
  cursor: pointer;
}



.jumbotron {
  background-image: url("../images/jumbo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 550px;
}

.jumbotron .display-4 {
  font-family: 'Titillium Web';
  font-style: italic;
  font-weight: 900;
  margin-top: 35px;
}

.btn-primary {
  background-color: #FFCF4B;
  border-color: #FFCF4B;
  transition: 0.3s;
}

.btn-primary:hover {
  background-color: rgba(255,255,255,0.2);
  border-color: #FFCF4B;
  color: #212529;
}

.portfolio .display-6, .meetTheTeam .display-6 {
  text-align: center;
  margin-top: 70px;
}

.portfolioGrid {
  padding-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  margin: auto;
  width: 80%;
}

.portCards {
  box-shadow: 0 1px 2px rgba(0,0,0,0.15), 0 3px 3px rgba(0,0,0,0.15);
}



.portCardTop {
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px 10px 0px 0px
}

#port1 {
  background-image: url("../images/port1.jpg");
}

#port2 {
  background-image: url("../images/port2.jpg");
}

#port3 {
  background-image: url("../images/port3.jpg");
}

#port4 {
  background-image: url("../images/port4.jpg");
}

#port5 {
  background-image: url("../images/port5.jpg");
}

#port6 {
  background-image: url("../images/port6.jpg");
}

.portCardBottom {

}

.innerBottom {
  width: 90%;
  margin: auto;
  margin-top: 20px;
}

.innerBottom h1 {
  font-size: 24px;
}

.innerBottom a {
  margin-top: 5px;
  margin-bottom: 15px;
}

.teamContainer {
  padding-top: 70px;
  margin: auto;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 40px;
}


.teamMemberPhoto {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 175px;
  width: 175px;
  border-radius: 50%;
  margin: auto;
  transition: 0.4s;
  border: 0px solid orange;
}

.teamMemberPhoto:hover {
  border: 10px solid orange;
}

#team1 {
  background-image: url("../images/team1.jpg");
}

#team2 {
  background-image: url("../images/team2.jpg");
}

#team3 {
  background-image: url("../images/team3.jpg");
}

#team4 {
  background-image: url("../images/team4.png");
}

#team5 {
  background-image: url("../images/team5.jpeg");
}

#team6 {
  background-image: url("../images/team6.jpg");
}

#team7 {
  background-image: url("../images/team7.jpg");
}

#team8 {
  background-image: url("../images/team8.jpg");
}


.teamMemberInfo {
  width: 90%;
  margin: auto;
}

.teamMemberInfo h1 {
  letter-spacing: 2px;
  margin-top: 20px;
  font-size: 17px;
  font-weight: 200;
  font-family: 'Titillium Web';
  text-align: center;
}

.teamMemberInfo h5 {
  color: rgba(0,0,0,0.5);
  letter-spacing: 2px;
  font-size: 13px;
  text-align: center;
}

#footer {
  font-family: 'Titillium Web';
  font-style: italic;
  font-weight: 900;
  font-size: 40px;
  background-color: #FFCF4B;
  color: #212529;
  padding: 30px;
  text-align: center;
  margin-bottom: 70px;
}

#contactUsFooter {
  margin-bottom: 70px;
}



@media (max-width: 1024px) {
  .portfolioGrid {
    grid-template-columns: 1fr;
  }
  .teamContainer {
    grid-template-columns: 1fr;
  }
}
