body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar {
  font-size: 18px;
  background-color: #e57e00;
  border-bottom: 7px solid #0073ff;
  padding-bottom: 10px;
  position: fixed;
  top: 0;
  width: 100%;
}

#main-nav {
  list-style-type: none;
  display: none;
  flex-direction: column;
}

#main-nav li {
  text-align: center;
  margin: 15px auto;
  transition: 0.4s;
}

.nav-links, #logo {
  text-decoration: none;
  color: white;
  font-family: 'Lato';
  font-weight: 900;
  letter-spacing: 3px;
  font-size: 18px;
  transition:  0.4s;
  text-transform: uppercase;
}

.nav-links:hover, #logo:hover {
   color: #0073ff;
}

#logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

#navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

#navbar-toggle:hover {
  color: rgba(255, 255, 255, 1);
}


@media screen and (min-width: 1024px) {

  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  #main-nav {
    display: flex !important;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  #main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  #logo {
    margin-top: 0;
  }

  #navbar-toggle {
    display: none;
  }

}

#gridContainer {
  display: grid;
  grid-gap: 70px;
}

#homeBackground {
  background:linear-gradient(to top, rgba(0,0,0,0) 80%, rgba(0,0,0,1)), url("../images/img1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  overflow: hidden;
}

#contactUsMini {
  background-color: #ffa332;
  display: grid;
  grid-template-columns: 75% 25%;
}

.contactUsMiniText {
  text-align: center;
  color: white;
  font-family: 'Lato';
  font-weight: 900;
  letter-spacing: 3px;
}

.contactUsMiniButton {
  height: 50%;
  margin: auto;
}

#homeAboutContainer {

}
#homeAbout {
  width: 70%;
  margin: auto;
  display: grid;
}

#homeAboutText {
  width: 50%;
}

#homeAboutText h1 {
  font-family: 'Titillium Web';
  font-size: 30px;
  font-weight:900;
  letter-spacing: -2px;
  font-style: italic;
}

#homeAboutText p {
  font-weight: 400px;
  font-family: 'Arial'
}

#aboutUsContainer {
  background-color: #e57e00;
}

#aboutUs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 70px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: white;
}

.card img {
  border-radius: 50%;
  width: 200px;
  border: 5px solid #e57e00;
  margin-top: 35px;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
